* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
}



h1 {
	color: green;
	font-size: 2em !important;
	text-align: center;
}

h2 {
	text-align: center;
}

p { 
	text-align: center;
}

.btn-primary {
	position: relative;
	align-content: center;
	margin-left: 666px;
}


img {
	height: 200px;
	margin-left: 565px;
}

.form-group {
	align-content: center;
	margin-left: 640px;
}

